/* 이미지 업로드 파일 css */	
form input::file-selector-button { 
	display: none;
}

.inputFile,
#Preview,
#Preview li{
    float:left
}
.inputFile{
    margin-bottom: 10px;
}
.addImgBtn{
    width: 80px !important;
    height: 80px !important;
    line-height: 71px !important;
    background-color: #fff !important;
    color: #b7b7b7 !important;
    border: 2px solid #b7b7b7;
    font-size: 35px !important;
    padding: 0 !important;
    margin-left: 16px;
}

#Preview{
    margin-left: 20px;
    width: 450px;
}
#Preview li{
    margin-left: 17px;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #ececec;
    cursor:move
}

.delBtn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    width: 18px;
    height: 18px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

중앙정렬 */
.col-md-7{
	margin: auto;
}

/* 필수입력사항 css */
form span{
	color: red;
	font-size: 0.8571em;
	font-weight: bold;
}

