<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="order.bean.OrderDTO" alias="order"/>
		<typeAlias type="deal.bean.DealDTO" alias="deal"/>
		<typeAlias type="stock.bean.StockDTO" alias="stock"/>
		<typeAlias type="content.bean.AnnounceDTO" alias="announce"/>
		<typeAlias type="content.bean.EventDTO" alias="event"/>
		<typeAlias type="product.bean.ProductDTO" alias="product"/>
		
		<typeAlias type="serviceCenter.bean.AnnouncementBoardDTO" alias="AnnouncementBoardDTO"/>
		<typeAlias type="serviceCenter.bean.QnaTableDTO" alias="QnaTableDTO"/>
		
		<typeAlias type="style.bean.StyleBoardDTO" alias="StyleBoardDTO"/>
		
		<typeAlias type="user.bean.UserDTO" alias="user"/>
	</typeAliases>
</configuration>
