@charset "UTF-8";

.help {
	margin: 0 auto;
    padding: 58px 0 160px;
    width: 400px;
}

.help_title {
	margin: 0;
	padding-bottom: 40px;
    text-align: center;
    font-size: 32px;
    letter-spacing: -.48px;
    color: #000;
    border-bottom: 2px solid #000;
}

.help_notice {
	padding: 20px 0 10px;
}

.help_notice .notice_txt {
	font-size: 14px;
    letter-spacing: -.21px;
}

.input_box {
	position: relative;
    padding: 5px 0 60px;
}

.input_title {
	font-size: 13px;
	padding: 0;
}

.input_txt {
	padding-bottom: 10px;
	width: 100%;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid grey;
}

.input_txt:focus {
	outline: 0;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid black;
}

.input_txt:focus::placeholder {
	color: transparent;
}

.find_btn {
	outline: none;
	border: none;
	width: 100%;
    height: 52px;
    font-size: 16px;
    letter-spacing: -.16px;
    font-weight: 700;
    line-height: 50px;
    border-radius: 12px;
    outline: none;
    font-weight: 600;
    color: #fff;
}

.find_btn_disabled {
    background-color: #ebebeb;
}

.find_btn_able {
    background-color: #222222;
}