.footer1_customer-nav {
  display: flex;
}

li,
ol,
ul {
  list-style: none;
  padding-left: 0%;
}
.footer1_menulist li {
  /* display: list-item; */
  width: 250px;
  padding: 5px 0px;
  font-size: 14px;
}
.footer1_menulist a {
  text-decoration-line: none;
  color: rgb(165, 165, 165);
}

.footer1 {
  padding: 50px 40px;
  display: flex;
}

strong {
  font-size: 16px;
}
.footer1__sup {
  margin-left: 80px;
}

.footer1_customer {
  margin-left: auto;
}

dl {
  font-size: 13px;
  color: rgba(34, 34, 34, 0.5);
}

.qna {
  font-size: 13px;
}

.btn {
  font-size: 12px;
  display: inline-block;
  background-color: black;
  padding: 3%;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}

.footer2 {
  padding: 2%;
}
.tetm-list {
  color: pink;
}
.footer2 .term-list li {
  float: left;
  margin-left: 10px;
}

.footer2 .term-list a {
  font-size: 14px;
  color: black;
  text-decoration-line: none;
  margin: auto;
}

.icon {
  display: flex;
  justify-content: flex-end;
}
.icon i {
  margin-right: 2%;
}

.notice {
  padding: 8px 40px;
}
.info_list {
  color: rgb(184, 184, 184);
  font-size: 13px;
}

.notice_area {
  display: flex;
  color: rgb(184, 184, 184);
  font-size: 12px;
  padding: 12px 0px 0px;
}

.notice_area_notice {
  max-width: 605px;
}

.notice_area_logo {
  font-size: 14px;
  margin-left: auto;
}
