@charset "UTF-8";

.modal-title {
 font-size: 17px;
 text-align: left;
 font-weight: bold;
}

.modal_table {
  width: 100%;
}

#modal_userImg {
  width: 50px;
  height: 50px;
  border-radius: 75%;
}

#modal_userId {
  width: 200px;
}

#modal_userFollow {
  margin: 10px;
  text-align: right;
}
