@charset "UTF-8";

span {
	font-size: 14px;
}

label {
	display: inline-block;
}

.check_label {
	display: inline-flex;
    max-width: 100%;
}

.label_txt {
	padding-left: 10px;
    display: inline-block;
    line-height: 24px;
    font-size: 13px;
    letter-spacing: -.07px;
    vertical-align: top;
}

.join {
	margin: 0 auto;
    padding: 58px 0 160px;
    width: 400px;
}

.join_title {
    text-align: center;
    font-size: 32px;
    letter-spacing: -.48px;
    color: #000;
}

.input_box {
	position: relative;
    padding: 5px 0 20px;
}

.input_title {
	font-size: 13px;
	padding: 0;
}

.input_txt {
	padding-bottom: 10px;
	padding: 8px 0;
	width: 100%;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid grey;
}

.input_txt:focus {
	outline: 0;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid black;
}

.input_txt:focus::placeholder {
	color: transparent;
}

#input_email {
	position: relative;
}

#input_authNum{
	position: relative;
}

.input_txt_readonly {
	border-bottom: 1px solid grey;
	color: #bcbcbc;
}

.input_err {
	display: block;
    position: absolute;
    line-height: 16px;
    font-size: 11px;
    color: #f15746;
    margin: 3px;
}

.input_msg {
	display: block;
    position: absolute;
    line-height: 16px;
    font-size: 11px;
    margin: 3px;
    color: #f15746;
}

.check_main {
	padding-bottom: 8px;
	display: block;
}

.check_sub > .checkbox_item {
	padding-bottom: 5px;
}

#check_sub_essential {
	display: none;
	padding-left: 20px;
}

#check_sub_option {
	display: none;
	padding-left: 20px;
}

.btn {
	float: right;
}

.btn .essential{
	float: right;
}

.btn_view {
    top: 2px;
    right: 0;
	font-size: 12px;
	text-decoration: underline;
	line-height: 20px;
    letter-spacing: -.18px;
    color: rgba(34,34,34,.5);
}

.join_terms {
    padding: 24px 0 40px;
}

.join_btn {
	outline: none;
	border: none;
	width: 100%;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.16px;
    line-height: 50px;
    border-radius: 12px;
    outline: none;
    color: #fff;
    background-color: #222222;
}

.auth_btn {
	outline: none;
	border: none;
	width: 70px;
    height: 25px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: -.16px;
    border-radius: 12px;
    outline: none;
    color: #fff;
    position: absolute;
    top: 48px;
 	left: 335px;
 	bottom: 23px;
 	right: 0;
 	background-color: #222222;
}

.check_btn {
	outline: none;
	border: none;
	width: 70px;
    height: 25px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: -.16px;
    border-radius: 12px;
    outline: none;
    color: #fff;
    background-color: #ebebeb;
    position: absolute;
    top: 48px;
 	left: 335px;
 	bottom: 23px;
 	right: 0;
}

.check_btn_able {
	background-color: #222222;
}
 
/* 체크박스 */
input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background: #fbfbfb;
}

input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}

input[type="checkbox"]:hover {
    border-color: rgba(170, 170, 170, 0.5);
}

input[type="checkbox"]:checked {
    background-color: black;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}

input[type="checkbox"]:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%)
}

/* 모달 */
.modal {
	position: absolute;
	z-index: 1100; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%; 
	display: none;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	background-color: rgba(34,34,34,.5);
}

.modal-window {
	background-color: #fff;
	border-radius: 10px;
    position: relative;
    text-align: center;
	/* 모달창 사이즈는 각자 필요에 따라 클래스 추가해서 사용 */
	/* width: 400px;
    height: 500px; */
}

.modal-window-styleWrite { /* 별도 추가한 클래스 예시 */
	width: 600px;
    height: 700px;
}

.modal-title {
	padding: 15px 20px;
}

.modal-title h2 {
	display: inline;
}

.close-area {
	display: inline;
	float: right;	
}

.modal-content {
	max-height: 87%;
	overflow-x: hidden;
    overflow-y: auto;
    
}