@charset "UTF-8";

.styleContents {
	display: block;
	text-align: center;
	margin: 10px 0;
}

.contentsTextArea {
	width: 100%; 
	height: 100px;
	resize: none;
}

.write-modal-content {
	margin: 0 100px;
}

.write-modal-content h4 {
	margin: 10px 0 5px 0;
	text-align: left;
}

.write-modal-content p {
	margin: 5px 0;
	text-align: left;
}

.style-file {
	margin-bottom: 5px;
	text-align: left;
}

#thumbnail_zone {
	width: 100%; 
	min-height:150px;
	border:1px solid;
	border-color: rgb(133, 133, 133);
	text-align: left;
	padding-left: 3px;
}

#thumbnail_zone:empty:before{
	content: attr(data-placeholder);
	color: rgb(133, 133, 133);
	font-size:.9em;
}

.imgDiv {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 120x;
	margin: 5px;
	border: 1px solid;
}



.searchProudct {
	width: 90%;
	height: 25px;
	background-color: rgba(91,91,102,0.15); 
	border-color: #d3d3d3;
	border-radius: 5px;
	border: 1;
}

.inputDiv {
	position: relative;
}

.inputDiv .searchProudct {
	padding-left: 25px;	
}

.inputDiv i{
    position: absolute;
    left: 12px;
    top: 7px;
    color: #d3d3d3;
}

.btn_center_div {
	margin-top: 30px;
	text-align: center;
}

.black_btn {
	background-color: rgba(34,34,34,.8);
	color: white;
}

.styleWrite_btn {
	cursor: pointer;
	/* height: 42px; */
	padding: 6px 18px;
	border-radius: 12px;
	vertical-align: middle;
	text-align: center;
}

.modal-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
