<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="styleSQL">
	<!-- StyleBoardDTO List가져오기 (인기도 순) -->
	<select id="getListOrderByPopularity" resultType="StyleBoardDTO">
		select * from style_board order by regdate desc
	</select>
	
	<!-- StyleBoardDTO List가져오기 (최신 순) -->
	<select id="getListOrderByRecentDate" resultType="StyleBoardDTO">
		select * from style_board order by regdate desc
	</select>
	
	<!-- StyleBoardDTO List가져오기 (특정 회원) -->
	<select id="getMyList" parameterType="Integer" resultType="StyleBoardDTO">
		select * from style_board where userId=#{userId} order by regdate desc
	</select>
	
	<!-- 특정 게시물 갯수 -->
	<select id="totalMyStyle" parameterType="Integer" resultType="Integer">
		select count(*) from style_board where styleId=#{styleId}
	</select>
	
	<!-- 특정 회원 댓글 갯수 -->
	<select id="totalComment" parameterType="Integer" resultType="Integer">
		select count(*) from style_reply where userId=#{userId}
	</select>
	
	<!-- 특정 게시물을 작성한 유저 정보 -->
	<select id="getUserByUserId" parameterType="Integer" resultType="user">
		select * from user_table where userId=#{userId}
	</select>
	
	<!-- 특정 게시물을 작성한 유저 정보 -->
	<select id="getUserIdByUsername" parameterType="String" resultType="int">
		select userId from user_table where username=#{username}
	</select>
	
	<!-- 상품id로 상품 찾기 -->
	<select id="getProductByProductId" parameterType="Integer" resultType="product">
		select * from product_table where productId=#{productId}
	</select>
	
	<!-- 상품id로 해당 상품의 최저가 찾기 -->
	<select id="getLowestPriceByProductId" parameterType="Integer" resultType="Integer">
		select price from (select rownum rn, total.* from (select * from sales_table where productId=#{productId} and status=0 order by price asc)total) where rn=1
	</select>
	
	<!-- 게시물의 댓글 리스트 -->
	<select id="getReplyList" parameterType="Integer" resultType="StyleReplyDTO">
		select * from style_reply where styleId=#{styleId}
	</select>
	
	<!-- 관리자 페이지 스타일 게시글 리스트 -->
	<select id="getStyleList" parameterType="java.util.Map" resultType="StyleBoardDTO">
		<if test='option.equals("all")'>
			<![CDATA[
			select * from
			(select rownum rn, tt.* from
			(select * from style_board 
			        order by styleId desc)tt
					)where rn>=#{startNum} and rn<=#{endNum}
			]]>
		</if>
		<if test='option.equals("standby")'>
			<![CDATA[
			select * from
			(select rownum rn, tt.* from
			(select * from style_board where reportCount >= 5
			        order by reportCount desc)tt
					)where rn>=#{startNum} and rn<=#{endNum}
			]]>
		</if>
	</select>
		
	<!-- 관리자 페이지 스타일 게시판 페이징 처리 -->
	<select id="getTotalStyle" parameterType="String" resultType="Integer" >
		<if test='option.equals("all")'>
			select count(*) from style_board
		</if>
		<if test='option.equals("standby")'>
			select count(*) from style_board where reportCount >= 5
		</if>
	</select>
	
	<!-- 관리자 스타일 검색결과 -->
	<select id="searchStyleList" parameterType="java.util.Map" resultType="StyleBoardDTO">
	   	<if test='option.equals("all")'>
		   	<![CDATA[
			select * from
			(select rownum rn, tt.* from
			(select * from style_board 
			        
			        where ${searchOption} like '%' || #{inputWord} || '%'	
			        
			        
			        order by styleId desc)tt
					)where rn>=#{startNum} and rn<=#{endNum}
			]]>
		</if>
		<if test='option.equals("standby")'>
			<![CDATA[
			select * from
			(select rownum rn, tt.* from
			(select * from style_board 
			
			
				where reportCount >= 5 and ${searchOption} like '%' || #{inputWord} || '%'	
				
				
			        order by reportCount desc)tt
					)where rn>=#{startNum} and rn<=#{endNum}
			]]>
		</if>
	</select>
	
	<!-- 관리자 페이지 스타일 게시판 페이징 처리 -->
	<select id="getTotalSearchStyle" parameterType="java.util.Map" resultType="Integer" >
		select count(*) from style_board where ${searchOption} like '%' || #{inputWord} || '%'
	</select>
	
	<!-- 관리자 페이지 게시물 삭제 -->
	<delete id="deleteStyle" parameterType="Integer">
		delete from style_board where styleId=#{styleId}
	</delete>
</mapper>