/* 페이징 */
#currentPaging {
	color: red;
	cursor: pointer;
}

#paging {
	color: black;	
	cursor: pointer;
}

.pagingDiv {
	text-align: center;
	font-size: 13pt;
	margin: 10px 0;
}

.pagingDiv span {
	padding: 0 5px;
}