<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="eventSQL">

	<update id="updateStatus">		  
 		update event_table set status = 1 where dueDate >= regDate
	</update>
	
	<!-- 이벤트 목록 뽑기 -->
    <select id="getEventList" parameterType="java.util.Map" resultType="event">
	    <if test='option.equals("all")'>
	   		<![CDATA[
			select * from
			(select rownum rn, tt.* from
			(select * from event_table
			        order by eventId desc)tt
					)where rn >= #{startNum} and rn <= #{endNum}
			]]>
		</if>
		<if test='option.equals("going")'>
	   		<![CDATA[
			select * from
			(select rownum rn, tt.* from
			(select * from event_table where status = 0
			        order by eventId desc)tt
					)where rn>=#{startNum} and rn<=#{endNum}
			]]>
		</if>		
		<if test='option.equals("end")'>
	   		<![CDATA[
			select * from
			(select rownum rn, tt.* from
			(select * from event_table where status = 1
			        order by eventId desc)tt
					)where rn>=#{startNum} and rn<=#{endNum}
			]]>
		</if>
    </select>
    
    <!-- 이벤트 페이징을 위한 총 글의 수 -->
    <select id="getTotalEvent" resultType="int">
	    <if test='option.equals("all")'>
	   		select count(*) from event_table  
		</if>     	
    	<if test='option.equals("going")'>
   			select count(*) from event_table where status = 0
		</if>
	
		<if test='option.equals("end")'>
			select count(*) from event_table where status = 1
		</if>
    </select>
    
    <!-- 이벤트 검색 목록 뽑기 -->
    <select id="searchEvent" parameterType="java.util.Map" resultType="event">
	   	<if test='option.equals("all")'>
		   		<![CDATA[
				select * from
				(select rownum rn, tt.* from
				(select * from event_table
				
				where ${searchOption} like '%' || #{inputWord} || '%' and (status = 1 or status = 0)
				
				        order by eventId desc)tt
						)where rn>=#{startNum} and rn<=#{endNum}
				]]>
			</if>
			<if test='option.equals("going")'>
		   		<![CDATA[
				select * from
				(select rownum rn, tt.* from
				(select * from event_table 
				
				where ${searchOption} like '%' || #{inputWord} || '%' and status = 0
				
				        order by eventId desc)tt
						)where rn>=#{startNum} and rn<=#{endNum}
				]]>
			</if>
			
			<if test='option.equals("end")'>
		   		<![CDATA[
				select * from
				(select rownum rn, tt.* from
				(select * from event_table 
				
				where ${searchOption} like '%' || #{inputWord} || '%' and status = 1
				
				        order by eventId desc)tt
						)where rn>=#{startNum} and rn<=#{endNum}
				]]>
			</if>
    </select>	
	
	<!-- 이벤트 검색 글의 총개수 -->
	<select id="serachEventPaging" parameterType="java.util.Map" resultType="int">
		select count(*) from event_table where ${searchOption} like '%' || #{inputWord} || '%'	
	</select>
	
	<!-- 이벤트 등록 -->
	<insert id="writeEvent" parameterType="java.util.Map" >
		insert into event_table values(seq_event_table.nextval ,#{title}, #{contents}, 0, 0, #{img1}, #{img2}, #{img3}, #{dueDate}, sysdate)
	</insert>
	
	<!-- 이벤트 정보 -->
	<select id="getEventInfo" parameterType="String" resultType="event">
		select * from event_table where eventId=#{eventId}
	</select>
	
	<!-- 이벤트 수정 -->
	<update id="eventUpdate" parameterType="java.util.Map">
		update event_table set title=#{title}, contents=#{contents}, img1=#{img1}, img2=#{img2}, img3=#{img3}, dueDate=#{dueDate} where eventId=#{eventId2}
	</update>
	
	<!-- 이벤트 삭제 -->
	<delete id="deleteEvent" parameterType="int">
		delete from event_table where eventId=#{eventId}
	</delete>
</mapper>